<h1><%= @article.title %></h1>
<h4><%= @article.content %></h4>

<form action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit">
</form>